* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Gotham Pro;
  color: #fff;
  background: #000;
}
a:hover {
  color: #ffe300;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothamPro.eot");
  src: url("fonts/GothamPro.eot?#iefix") format("embedded-opentype"),
    url("fonts/GothamPro.woff") format("woff"),
    url("fonts/GothamPro.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothamPro-Bold.eot");
  src: url("fonts/GothamPro-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/GothamPro-Bold.woff") format("woff"),
    url("fonts/GothamPro-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Gotham Pro";
  src: url("fonts/GothamPro-Black.eot");
  src: url("fonts/GothamPro-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/GothamPro-Black.woff") format("woff"),
    url("fonts/GothamPro-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}
.yellow {
  color: #ffe300;
}
.navbar {
  width: 100%;
  height: 250px;
  z-index: 3;
  top: 0;
  padding-top: 50px;
  background: none;
  position: absolute;
}
.navbar__wrapper,
.section__wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1140px;
  padding-top: 15px;
}
.navbar__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.section__wrapper {
  padding: 0;
}
.navbar__icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar__icons-left {
  justify-content: flex-start;
}
.navbar__icons-right {
  justify-content: flex-end;
}
.navbar__icons-right-mobile {
  display: none;
}
.navbar__icon {
  cursor: pointer;
  text-decoration: none;
}
.navbar__icon__text {
  font-size: 20px;
  line-height: 19px;
  color: #ffffff;
  text-decoration: none;
  margin-top: 9px;
}
.navbar__icon__fa {
  margin-right: 9px;
}
.navbar__links {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 1140px;
}
.navbar__link {
  font-size: 20px;
  line-height: 19px;
  color: #fff;
  text-decoration: none;
}
.sticky {
  position: fixed;
  top: 0;
  min-width: 100%;
  background: rgb(0 0 0 / 50%);
  padding-bottom: 30px;
  z-index: 3;
  display: flex;
  justify-content: center;
}
section {
  width: 100%;
  overflow: hidden;
}
.section__intro {
  height: 900px;
  background: url(img/heading_bkgrnd.jpg) no-repeat;
  background-size: cover;
}
.section.section__intro .section__wrapper {
  display: flex;
  height: 100%;
  flex-direction: column;
}
.heading {
  font-size: 30px;
  line-height: 37px;
  color: #fff;
  z-index: 2;
  position: relative;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: bold;
}
h1.heading {
  font-weight: 400;
}
.section__intro__heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  padding-top: 120px;
}
.heading__icons {
  position: absolute;
  right: 30px;
  bottom: 100px;
  color: #fff;
  display: flex;
  flex-direction: column;
}
.contacts__icon {
  color: #fff;
  font-size: 32px;
  transition: all 0.8s ease-out;
}
.contacts__icon:hover {
  color: #ffe300;
}
.heading__icons .contacts {
  margin-bottom: 10px;
}
.heading__bottom {
  font-size: 20px;
  line-height: 19px;
  margin-bottom: 35px;
}
.button {
  font-size: 20px;
  line-height: 19px;
  color: #ffffff;
  border: 1px solid #ffe300;
  background: rgb(6 6 6 / 60%);
  width: 318px;
  padding: 15px 30px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  text-align: center;
  text-decoration: none;
}
.button:hover,
.button:active {
  background: #ffe300;
  color: #000;
}
.section__why {
  height: 690px;
  background: url(img/why_bkgrnd.png) right bottom;
  background-repeat: no-repeat;
}
h2.heading {
  margin-bottom: 67px;
  margin-top: 30px;
}
h2.heading::before {
  font-size: 70px;
  line-height: 70px;
  font-weight: 900;
  color: rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -30px;
  left: 46px;
  overflow: hidden;
  height: 70px;
  white-space: nowrap;
}
h2.heading::after {
  display: block;
  width: 120px;
  content: "";
  position: absolute;
  border-bottom: 2px solid #ffe300;
  top: 64px;
}
.section__why .heading::before {
  content: "Почему именно мы?";
}
.section.section__why .section__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.section__why__right {
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(img/dude.png) right;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  z-index: 2;
}
.section__why__left {
  width: 100%;
  margin-right: 60px;
}
.why__text {
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 21px;
  width: 50%;
}
.section__features {
  background: url(img/features_bkgrnd.png) no-repeat;
  background-size: cover;
  min-height: 280px;
  display: flex;
  align-items: center;
  padding: 30px 0;
}
.section__features .section__wrapper {
  display: flex;
  justify-content: space-around;
  height: 100%;
}
.feature {
  text-align: center;
  margin: 25px;
}
.feature__heading {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 15px;
}
.feature__text {
  max-width: 180px;
  font-size: 20px;
  line-height: 21px;
}
.section__projects {
  background: url(img/projects_bkgrnd.jpg) no-repeat;
  background-size: cover;
}
.section__projects .section__wrapper {
  padding: 110px 0;
}
.section__projects h2.heading::before {
  content: "проекты";
}
.projects__tablinks {
  margin-bottom: 40px;
  display: flex;
}
.tablink {
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
  background: none;
  border: none;
  color: #fff;
  margin-right: 48px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.tablink__block.active .tablink,
.tablink:hover {
  color: #ffe300;
}
.tablink__block .arrow {
  display: none;
}
.tablink__block {
  display: flex;
  justify-content: center;
  max-width: 30%;
}
.arrow span {
  display: block;
  width: 10px;
  height: 10px;
  margin: -2px;
}
.arrow-left span {
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: arrow-left 1.6s infinite;
}
.arrow-right span {
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  animation: arrow-left 1.6s infinite;
}
.arrow-left span:nth-child(2),
.arrow-right span:nth-child(2) {
  animation-delay: -0.1s;
}
.arrow-left span:nth-child(3),
.arrow-right span:nth-child(1) {
  animation-delay: -0.2s;
}
@keyframes arrow-left {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-0px, -0px);
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(0px, 0px);
  }
}
.projects {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.project {
  margin-bottom: 20px;
}
.project__text {
  padding: 30px;
  background: #000;
}
.projects {
  display: none;
}
.projects.active-tab {
  display: flex;
}
.project__heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
}
.project__descr {
  font-size: 20px;
  line-height: 37px;
  margin-bottom: 30px;
}
.project__price {
  font-size: 30px;
  line-height: 37px;
}
.projects_inside {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 80px;
}
.button__center {
  display: flex;
  justify-content: center;
  margin: 0 auto 100px;
}
.section__projects h2.heading.tech::before {
  content: "ХАРАКТЕРИСТИКИ";
}
h2.heading.tech::after {
  top: 100px;
}
.tech__blocks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
}
.tech__block {
  display: flex;
  flex-direction: column;
  max-width: 360px;
}
.tech__block__img {
  width: 100%;
  height: 80px;
  margin-bottom: 15px;
}
.tech__block__img-1 {
  background: url(img/tech-1.svg) no-repeat;
  background-position: center center;
}
.tech__block__img-2 {
  background: url(img/tech-2.svg) no-repeat;
  background-position: center center;
}
.tech__block__img-3 {
  background: url(img/tech-3.svg) no-repeat;
  background-position: center center;
}
.tech__block__text {
  text-align: center;
  font-size: 20px;
  line-height: 25px;
}
.scheme__block {
  background: center / contain no-repeat url(img/scheme.png);
  height: 800px;
}
.table {
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
.row {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  line-height: 25px;
  padding: 10px 100px;
  transition: all 1s ease-out;
}
.row.row_yellow {
  background: linear-gradient(
    90deg,
    #ffe300 6.52%,
    rgba(196, 196, 196, 0) 100%
  );
}
.column-left {
  min-width: 30%;
}
.text {
  margin: 12px 0;
}
.section__clients .section__wrapper {
  padding: 30px 0;
  margin-bottom: 70px;
}
.section__clients h2.heading::before {
  content: "нам доверяют";
}
.clients__logos {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.client__logo {
  height: 100px;
  background-position: center center;
  margin: 20px;
}
.client__logo-1 {
  background: url(img/client-1.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.client__logo-2 {
  background: url(img/client-2.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.client__logo-3 {
  background: url(img/client-3.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.client__logo-4 {
  background: url(img/client-4.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.client__logo-5 {
  background: url(img/client-5.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.client__logo-6 {
  background: url(img/client-6.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.client__logo-7 {
  background: url(img/client-7.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.client__logo-8 {
  background: url(img/client-8.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.client__logo-9 {
  background: url(img/client-9.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.client__logo-10 {
  background: url(img/client-10.png) no-repeat;
  background-size: contain;
  background-position: center center;
}
.section__form .section__wrapper {
  padding: 30px 0;
}
.section__form h2.heading::before {
  content: "консультация";
}
.form__block {
  background: #ffe300;
  position: relative;
}
.form__block::before {
  content: "";
  background: url(img/ruletka.png) no-repeat;
  background-size: contain;
  height: 300px;
  width: 400px;
  position: absolute;
  top: -120px;
  z-index: 2;
}
.form__block::after {
  content: "";
  background: url(img/home.png) no-repeat;
  background-size: contain;
  position: absolute;
  height: 280px;
  width: 370px;
  top: -170px;
  right: 80px;
  z-index: 2;
}
.form__block .section__wrapper {
  display: flex;
  flex-direction: column;
  padding: 66px 0;
}
.form__heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #000;
  text-align: center;
  margin-bottom: 40px;
}
.form__heading span {
  text-transform: uppercase;
}
.contact__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact__form__row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 40px;
}
.contact__form__input,
.contact__form__btn {
  width: 31%;
  height: 60px;
  padding: 15px;
  font-size: 20px;
  line-height: 25px;
  border: none;
}
#form__agreement {
  width: 26px;
  height: 26px;
  margin-right: 10px;
}
.form__agreement__label {
  font-size: 20px;
  line-height: 25px;
  color: #000;
}
.contact__form__checkbox {
  display: flex;
  align-items: center;
}
.contact__form__btn {
  background: #000;
  color: #fff;
  text-align: center;
}
footer {
  background: url(img/footer.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  padding: 50px 0;
}
footer .section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__logo {
  max-width: 380px;
}
.footer__blocks {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 70px;
}
.footer__block__info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  line-height: 37px;
}
.footer__block__info__link {
  text-decoration: none;
  color: #fff;
}
.footer__block__info__text {
  font-weight: bold;
  font-size: 20px;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.footer__messengers {
  display: flex;
}
.footer__messengers a {
  margin-right: 20px;
}
.footer__blocks__bottom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.slidercontent {
  display: none;
}
.slider {
  position: relative;
  margin: auto;
  height: 560px;
  margin-bottom: 15px;
}
.slider .slider-item img {
  object-fit: cover;
  width: 100%;
  height: 330px;
  border: none !important;
  box-shadow: none !important;
}
.slider .prev,
.slider .next {
  cursor: pointer;
  position: absolute;
  bottom: 125px;
  width: 38px;
  height: 38px;
  transition: 0.6s ease;
}
.slider .prev {
  background: url(img/arrow-white-left.svg) no-repeat;
  background-position: center center;
  background-size: contain;
}
.slider .next {
  right: 0;
  background: url(img/arrow-white-right.svg) no-repeat;
  background-position: center center;
  background-size: contain;
}

.slider .prev:hover,
.slider .prev:active {
  background: center / contain no-repeat url(img/arrow-yellow-left.svg);
}
.slider .next:hover,
.slider .next:active {
  background: center / contain no-repeat url(img/arrow-yellow-right.svg);
}
.slideText {
  text-align: center;
  margin-top: 15px;
}
.slider .slider-item {
  -webkit-animation: fade 1.5s ease-in-out;
  -moz-animation: fade 1.5s ease-in-out;
  -o-animation: fade 1.5s ease-in-out;
  animation: fade 1.5s ease-in-out;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

.animate__block {
  opacity: 0;
}
.animate__block.active {
  opacity: 1;
  transition: all 1s ease-in;
}
/*
.animate__block__left {
  transform: translate3d(-200px, 0, 0);
	opacity:0;
	transition: all 0.7s ease-in;
}
.animate__block__right {
  transform: translate3d(200px, 0, 0);
	opacity:0;
	transition: all 0.7s ease-in;
}
.animate__block.animate__block__right.active, .animate__block.animate__block__left.active{
  transform: translate3d(0px, 0, 0);
  opacity: 1;
}
*/
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-width: 1280px) {
  .section__form {
    padding-bottom: 200px;
  }
  .form__block::before {
    top: inherit;
    bottom: -230px;
  }
  .section__wrapper,
  .section__projects .section__wrapper,
  .section__clients .section__wrapper,
  .section__form .section__wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (max-width: 1024px) {
  .section__why__right {
    height: 90%;
  }
  .scheme__block {
    height: 600px;
  }
  .row {
    padding: 10px 30px;
  }
  .form__block::after {
    width: 310px;
    right: 50px;
  }
}
@media screen and (max-width: 800px) {
  h2.heading::before {
    font-size: 60px;
  }
  .why__text {
    font-size: 16px;
  }
  .section__why__right {
    height: 75%;
  }
  .section__features .section__wrapper {
    flex-direction: column;
  }
  .projects__tablinks {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  .tablink__block {
    max-width: 100%;
  }
  .tablink {
    margin: 0;
    padding: 0px 25px;
  }
  .feature__text {
    margin: 0 auto;
  }
  .feature__text,
  .tablink,
  .project__heading,
  .project__descr,
  .button,
  .tech__block__text,
  .row,
  .form__heading {
    font-size: 15px;
  }
  .tablink__block.active .arrow,
  .tablink__block:hover .arrow {
    display: flex;
    align-items: center;
  }
  .section__projects .section__wrapper {
    padding: 70px 15px;
  }
  .tech__blocks {
    margin-bottom: 40px;
    flex-direction: column;
    align-items: center;
  }
  .tech__block {
    margin-bottom: 35px;
  }
  .column-left {
    min-width: 40%;
  }
  .section__form .section__wrapper {
    padding-bottom: 120px;
  }
  .contact__form__row {
    flex-direction: column;
    align-items: center;
  }
  .contact__form__input,
  .contact__form__btn {
    width: 300px;
    margin-bottom: 20px;
  }
  .contact__form__checkbox {
    width: 80%;
  }
  .footer__blocks {
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer__block__info {
    margin: 30px;
  }
  .footer__blocks__bottom {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px) {
  .hide-mobile,
  .header-nav {
    display: none;
  }
  .navbar__wrapper {
    align-items: start;
  }
  .navbar__icons-right-mobile {
    display: flex;
    position: relative;
    width: 100%;
  }
  .navbar__icons-right-mobile img {
    position: absolute;
    top: 0;
    right: 0;
  }
  .section__intro {
    height: 600px;
  }
  .section__intro__heading {
    padding-top: 0;
  }
  .heading {
    font-size: 25px;
    line-height: 28px;
  }
  h1.heading {
    width: 80%;
  }
  h2.heading,
  h3.heading {
    text-align: center;
  }
  h2.heading::before {
    font-size: 50px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%);
  }
  h2.heading::after {
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .heading__bottom {
    font-size: 15px;
  }
  .heading__icons {
    left: 0;
    flex-direction: row;
  }
  .heading__icons .contacts {
    margin-right: 25px;
  }
  .why__text {
    width: 100%;
  }
  .section__why {
    height: 850px;
  }
  .section.section__why .section__wrapper {
    flex-direction: column;
  }
  .section__why__left {
    width: 100%;
    margin: 0;
  }
  .section__why__right {
    position: inherit;
    background-position: center;
  }
  .slidercontent.active-tab {
    display: flex;
  }
  .projects.active-tab,
  .projects_inside {
    display: none;
  }
  .scheme__block {
    height: 400px;
  }
  .row {
    margin-bottom: 15px;
    flex-direction: column;
    text-align: center;
    padding: 0;
    transition: all 0.4s ease-in;
  }
  .row.row_yellow {
    background: none;
  }
  .column-left {
    background: linear-gradient(
      90deg,
      #ffe300 6.52%,
      rgba(196, 196, 196, 0) 100%
    );
    position: relative;
  }
  .column-right {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background: #000;
  }
  .column-left::before {
    content: "";
    background: url(img/arrow_1.svg) no-repeat;
    background-size: contain;
    position: absolute;
    left: 10%;
    top: 30%;
    width: 28px;
    height: 28px;
    transition: all 0.5s ease-in-out;
  }
  .column-left::after {
    content: "";
    background: url(img/arrow_1.svg) no-repeat;
    background-size: contain;
    position: absolute;
    right: 10%;
    top: 30%;
    width: 28px;
    height: 28px;
    transition: all 0.5s ease-in-out;
  }
  .column-left.active::before,
  .column-left.active::after {
    opacity: 0;
  }
  .clients__logos {
    grid-template-columns: repeat(2, auto);
  }
  .footer__blocks {
    flex-direction: column;
    align-content: center;
    text-align: center;
    margin-bottom: 45px;
  }
  .footer__messengers {
    flex-direction: column;
  }
  .footer__messengers .contacts__icon {
    margin-bottom: 25px;
  }

  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media screen and (max-width: 425px) {
  .heading__icons {
    bottom: 80px;
  }
  .feature__heading {
    font-size: 20px;
  }
  .form__agreement__label {
    font-size: 14px;
  }
  .project__price {
    font-size: 20px;
  }
  .scheme__block {
    display: none;
  }
  .column-left::before,
  .column-left::after {
    top: 45%;
    width: 22px;
    height: 22px;
  }
  .form__block::after {
    width: 250px;
    left: 50%;
    top: -145px;
    margin-right: -50%;
    transform: translate(-50%);
  }
  .form__block::before {
    width: 280px;
    bottom: -200px;
  }
  .button {
    width: 280px;
  }
  .section__projects .section__wrapper {
    padding: 40px 15px;
  }
  .table {
    margin-bottom: 50px;
  }
  .button__center {
    margin: 0 auto 60px;
  }
  .section__clients .section__wrapper {
    margin-bottom: 35px;
  }
  .section__form {
    padding-bottom: 90px;
  }
}
@media screen and (max-width: 370px) {
  .heading {
    font-size: 20px;
    line-height: 25px;
  }
  h2.heading::before {
    font-size: 40px;
  }
}
